<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restore your password</title>
  </head>
  <body>
    <h1>Password restoration</h1>
    <p>
      Hi, <%=`${user.firstName} ${user.lastName}`%>! We have recieved your request for password
      restoration.
    </p>
    <p>In order to restore your password please follow the link below</p>
    <a href="<%= link %>">Link to restore password</a>
    <p>If it is not your account, please, ignore this message</p>
  </body>
</html>
